#section-conta{
    border: 5px solid #000;
    margin-top: 30px;
    padding: 20px;
}

#section-conta h2{
    padding-bottom: 5px;
}

#section-conta p{
    margin: 5px 0 15px;
    text-align: justify;
}

#section-conta hr{
    border: 3px solid var(--bg-color);
    margin: 8px 0;
}


#section-conta #ultimo-p{
    margin-bottom: 0;
}